    /*  typography */

    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    body {
        line-height: 1.2;
        font-family: $primary-font;
        -webkit-font-smoothing: antialiased;
        color: $text-color-light;
    }

    p,
    .paragraph {
        font-weight: 400;
        color: $text-color;
        font-size: 15px;
        line-height: 1.5em;
        font-family: $primary-font;
    }

    p.small{
        line-height: 1.0;
    }

    p strong {
        font-weight: 600;
        background-color: $highlight-bgcolor-purple !important;
    }

    p a {
        //color: $primary-color;
        text-decoration: underline;
        font-weight: 600;
        background-color: $highlight-bgcolor-gray;
    }

    p a:hover{
      background-color: $highlight-bgcolor-gray;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $text-color;
        font-family: $primary-font;
        font-weight: 700;
        line-height: 1.4;
    }

    h1,
    .h1 {
        font-size: 56px;
        @include desktop {
            font-size: 48px;
        }
        @include tablet {
            font-size: 40px;
        }
    }

    h2,
    .h2 {
        font-size: 48px;
        @include desktop {
            font-size: 40px;
        }
        @include tablet {
            font-size: 32px;
        }
    }

    h3,
    .h3 {
        font-family: $primary-font;
        font-size: 30px;
        font-weight: 600 !important;
        @include desktop {
            font-size: 32px;
        }
        @include tablet {
            font-size: 28px;
        }
    }

    h4,
    .h4 {
      font-family: $primary-font;
      font-weight: 800 !important;
      font-size: 18px !important;
      color: $text-color;
      margin-bottom: 10px;
    }

    h5,
    .h5 {
        font-size: 18px;
    }

    h6,
    .h6 {
        font-size: 14px;
    }

    .display-1 {
        @include desktop {
            font-size: 4.5rem;
        }
        @include tablet {
            font-size: 3.5rem;
        }
    }

    .cv-title {
        font-size: 17px;
        font-weight: 800;
        color: $text-color;
        font-family: $primary-font;
    }

    .cv-title-large {
        font-size: 20px;
        font-weight: 600;
        color: $text-color;
        font-family: $primary-font;
        margin-bottom: 10px;
    }

    .cv-text {
        font-size: 15px;
        font-weight: 300;
        color: $text-color;
        font-family: $primary-font;
        line-height: 1.4;
        margin-bottom: 5px;
    }

    .cv-text-period {
        font-size: 14px;
        font-weight: 400;
        color: $text-color;
        font-family: $primary-font;
        line-height: 1.4;
        margin-bottom: 10px;
    }


    .padding-left-30 {
        padding-left: 30px;
    }

    .cv-text-bold {
        font-size: 16px;
        font-weight: 600;
        color: $text-color;
        font-family: $primary-font;
        line-height: 1.3;
    }

    .cv-text-bold a{
        text-decoration: underline;
    }

    .cv-text-bold a:hover{
        background-color: 
        $highlight-bgcolor-gray;
    }

    .link-text-publications {
        font-size: 14px !important;
        font-weight: 400 !important;
        color: $text-color;
        font-family: $primary-font;
        line-height: 1.4;
    }

    a:link-text-publications {
        font-weight: 600 !important;
        color: $text-color;
    }

    //홈의 이름 타이틀에 쓰임
    .banner-title-bold {
        font-size: 50px;
        font-weight: 800;
        color: $text-color;
        font-family: $hightlight-font;
        line-height: 1.0;
        margin-bottom: 20px;
    }

    .banner-subtitle {
        font-size: 25px;
        font-weight: 600;
        color: $text-color;
        font-family: $hightlight-font;
        line-height: 1.0;
        margin-bottom: 15px;
    }

    .banner-subtitle-email {
        font-size: 18px;
        font-weight: 500;
        word-wrap: break-word;
        color: $text-color;
        font-family: $hightlight-font;
        line-height: 1.0;
        margin-bottom: 5px;
        //text-decoration: underline;
    }

    .banner-subtitle-email a:hover {
        background-color: $highlight-bgcolor-gray;
        color: $primary-color;
    }

    .banner-subtitle-social {
        font-size: 16px;
        font-weight: 700;
        word-wrap: break-word;
        color: $text-color;
        font-family: $hightlight-font;
        line-height: 1.0;
        margin-bottom: 60px;
        margin-top: 15px;
    }
  
    .banner-subtitle-social strong {
        font-weight: 600;
    }

    .banner-subtitle-social a {
        color: #666666;
        background-color: #F5F5F5;
    }

    .banner-subtitle-social a:hover{
      background-color: #E5E5E5;
      color: $primary-color;
    }


    .banner-text {
        font-size: 16px;
        font-weight: 400;
        color: $text-color;
        font-family: $primary-font;
        line-height: 1.5;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-right: 15px;
    }

    .banner-text-keyword {
        font-size: 15px;
        font-weight: 400;
        color: $text-color;
        font-family: $primary-font;
        line-height: 1.5em !important;
    }
    
    .banner-text-keyword:hover{
        background-color: $highlight-bgcolor-gray
    }




    .linear-news {
        font-size: 15px;
        font-weight: 400;
        color: $text-color;
        font-family: $primary-font;
        line-height: 1.3em;
        margin-bottom: 20px !important;
    }

    .linear-news a {
        color: rgb(50, 50, 50);
    }


    .linear-news-icon {
        font-size: 15px;
        font-weight: 400;
        color: $text-color;
        font-family: $primary-font;
        line-height: 1.3;
    }

    .linear-news-bottom {
        margin-bottom: 8px;
    }

    .social-icon-list {
        margin-top: 0px;
        font-size: 15px;
        font-weight: 700;
        word-wrap: break-word;
        color: $text-color;
        font-family: $hightlight-font;
    }

    .social-icon-list-bold {
        margin-top: 5px;
        font-size: 15px;
        font-weight: 800;
        color: $text-color;
        font-family: $hightlight-font;
    }

    .social-icon-list-bold a {
        //color: $primary-color
        text-decoration: underline;
    }

    .social-icon-list-bold :hover {
        color: $hyperlink-color;
    }

    .project-title {
        font-size: 17px;
        color: $text-color;
        font-weight: 600;
        line-height: 1.3rem;
    }

    .project-title strong:hover {
        background-color: $highlight-bgcolor-gray;
    }

    //홈 화면에서 보여지는 프로젝트 요약페이지의 "요약글" 폰트
    .project-meta {
        font-family: $primary-font;
        font-size: 15px !important;
        color: $text-color;
        font-weight: 400 !important;
        line-height: 1.2rem !important;
        margin-bottom: 15px;
        padding-right: 20px;
    }

    //홈 화면에서 보여지는 프로젝트 요약페이지의 "학회명" 폰트
    .project-meta-journal {
        font-family: $primary-font;
        font-size: 15px !important;
        color: $text-color;
        font-weight: 800 !important;
        line-height: 1.2rem !important;
        margin-bottom: 20px;
        padding-right: 20px;
    }

    
    .single-page-title {
        font-family: $primary-font;
        font-weight: 800;
        font-size: 40px !important;
        color: $text-color;
        margin-top: 60px;
        margin-bottom: 40px;
    }

    .blog-title {
        margin-top: 10px;
        font-size: 20px;
        color: $text-color;
        font-weight: 600;
    }

    ul{
      list-style-type: none;
    }


    li {
        font-weight: 600 !important;
        color: $text-color;
        font-size: 15px !important;
        line-height: 1.0em !important;
        font-family: $primary-font;
        padding-bottom: 10px;
    }

    .project-page-title {
        font-family: $primary-font;
        font-weight: 800;
        font-size: 30px !important;
        letter-spacing: 1px;
        line-height: 1.2;
        color: $text-color;
        margin-top: 10px;
        margin-bottom: 20px;
        width: 80%;
    }

    .project-conference-title {
        font-family: $primary-font;
        font-weight: 600;
        font-size: 19px !important;
        letter-spacing: 1px;
        color: $text-color;
        width: 70%;
        margin-bottom: 25px;
    }

    .project-subtitle {
        font-family: $primary-font;
        font-weight: 800;
        font-size: 18px !important;
        color: $text-color;
        margin-bottom: 10px;
    }

    .project-single-meta {
        font-family: $primary-font;
        font-weight: 300;
        font-size: 17px !important;
        line-height: 1.5;
        color: $text-color;
        margin-bottom: 30px;
        padding-right: 70px;
    }

    