// Color Variables
$primary-color: #400599;
$hyperlink-color: #7517C8;
$highlight-bgcolor: #fcf76a;
$highlight-bgcolor-purple: #d4c4fe7c;
$highlight-bgcolor-gray: #F2F2F2;
$highlight-bgcolor-gray2: #efefef;
$selection-bg: #8dabd9;

$gray-90: #202020;
$gray-80: #323232;



// Text
$text-color: #2f2f2f;
$text-color-light: #999;

// Background
$body-color: #000;
$bg: rgb(255, 255, 255);

// Deco
$border-color: #555;
$dark: #0F0F0F;
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Roboto',
sans-serif;
$icon-font: 'themify';
$hightlight-font: 'Lato',
sans-serif;
