// Color Variables
$primary-color: #1e7cfe;
$hyperlink-color: #09bec8;
// Text
$text-color: #2f2f2f;
$text-color-light: #999;
// Background
$body-color: #000;
$bg: rgb(255, 255, 255);
// Deco
$border-color: #555;
$dark: #0F0F0F;
$white: #fff;
$black: #000;
// Font Variables
$primary-font: 'Roboto',
sans-serif;
$icon-font: 'themify';
$hightlight-font: 'Lato',
sans-serif;