// Color Variables
$primary-color: #1b5bef;
// Text
$text-color: #2f2f2f;
$text-color-light: #999;
// Background
$body-color: #000;
$bg: rgb(244, 244, 244);
// Deco
$border-color: #555;
$dark: #0F0F0F;
$white: #fff;
$black: #000;
// Font Variables
$primary-font: 'Open Sans',
sans-serif;
$icon-font: 'themify';