
<article class="card rounded-0 border-0" data-file="{{.Permalink}}" data-target="article">
    {{ with .Params.Image }}
    <img src="{{ . | absURL }}" alt="" class="card-img-top mb-3 rounded-0" /> {{ end }}
    <div class="card-body padding0">
        <ul class="list-inline margin-updown-1">
            <button type="button" class="btn-journal-name-purple">{{ .Params.conference }}</button>
            <button type="button" class="btn-publication-meta-white">{{ .Params.shortkeys }}</button>
        </ul>
        <div class="mb-2 blog-title">
            <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
        </div>

        
        <p class="margin-updown-1">{{ .Params.metacontent }}</p>
        <a href="{{ .Permalink }}" class="btn btn-link margin-bottom-20 margin-top-10 ">{{ i18n "read_more" }}</a
    >
  </div>
</article>
