{{ define "main" }}

<section class="section pt-0">
  <div class="container">

<div class="row">

  <!-- <ul>
    {{ range where .Paginator.Pages ".Params.tags" "intersect" (slice "tag1")}}
    <li>
      <span>{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
      <a href="{{ .URL }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul> -->

    <div class="btn-group btn-group-toggle justify-content-center d-flex flex-wrap" data-toggle="buttons">
       <label class="btn btn-sm btn-primary active">
         <input type="radio" name="shuffle-filter" value="all" checked="checked" />All
       </label>
       {{ $tags := slice }}
       {{ range .Site.Data.project.item }}
       {{ $tags = $tags | append .category }}
       {{ end }}
       {{ range ( $tags | uniq ) }}
       <label class="btn btn-sm btn-primary">
         <input type="radio" name="shuffle-filter" value="{{ . | urlize }}" />{{ . | humanize }}
       </label>
       {{ end }}
     </div>


    <div class="row">
      {{ $paginator := .Paginate .Data.Pages }}
      {{ range $paginator.Pages }}
      <div class="col-sm-4 padding-right-3">
        {{ .Render "blog" }}
      </div>
      {{ end }}
      <div class="col-12 mt-5">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
</section>

{{ end }}
