{{ define "main" }}

<section class="section pt-0">
<div class="container">

<div class="row row-fix">
<div class="single-page-title padding-side-0">{{.Title}}</div>
</div>

<div class="row row-fix">

  <!-- <ul>
    {{ range where .Paginator.Pages ".Params.tags" "intersect" (slice "tag1")}}
    <li>
      <span>{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
      <a href="{{ .URL }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul> -->

    <!-- 버튼 -->
    <div class="btn-group btn-group-toggle justify-content-center d-flex flex-wrap" data-toggle="buttons">
       <label class="btn btn-sm btn-outline-primary active padding-right-15">
         <input type="radio" name="shuffle-filter" value="all" checked="checked" />All
       </label>
       {{ $tags := slice }}
       {{ range .Site.Data.project.item }}
       {{ $tags = $tags | append .category }}
       {{ end }}
       {{ range ( $tags | uniq ) }}
       <label class="btn btn-sm btn-outline-primary padding-right-15">
         <input type="radio" name="shuffle-filter" value="{{ . | urlize }}" />{{ . | humanize }}
       </label>
       {{ end }}
    </div>

    <!-- 버튼 -->
    <div class="row">
      {{ $paginator := .Paginate .Data.Pages }}
      {{ range $paginator.Pages }}
      <div class="col-sm-4 padding-right-3 margin-top-20 ">
        {{ .Render "blog" }}
      </div>
      {{ end }}
      <div class="col-12 mt-5">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
</section>

{{ end }}
