<section class="section pb-0 padding0" id="project">
    <div class="container cv-section-padding">
        <div class="row">
            <div class="row cv-lineBox">
                <div class="col-lg-9 ">
                    <div class="cv-text-bold"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
                    <div class="cv-text"><a href="{{ `author/` | relLangURL }}{{ .Params.Author | urlize }}/">{{ .Params.Author }}</div>
                        <ul class="btn-link-group list-inline">
                          {{ range .Params.Links }}
                          <li class="list-inline-item">
                            <a href="{{ .link | absURL }}">{{ .label }}</a>
                        </li>
                        {{ end }}
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <div class="cv-text">dursssss</div>
                    </div>
                </div>
            </div>
        </div>
</section>