{{ define "main" }} {{ $data := index .Site.Data .Site.Language.Lang }}

<!-- banner -->
{{ if $data.homepage.banner.enable }}
<section class="section-home pb-0" id="home">
    <div class="container">
        {{ with $data.homepage.banner }}
        <div class="col-xs-2 col-sm-5 col-md-4 padding-side-0">
            {{ if $data.homepage.about.enable }} {{ with $data.homepage.about }}
                <img src="{{ .image | absURL }}" class="bokyung-img" alt="" style="width:60%" /> {{ end }} {{ end }}
        </div>
        
        <div class="banner-title-bold">{{ .title | markdownify }}</div>
        <div class="banner-subtitle">{{ .subtitle | markdownify }}</div>
        <div class="banner-subtitle-email">bokung.lee.lydia@gmail.com </div>
        <div class="banner-subtitle-social"><a href="https://github.com/bolee222/Bokyung-Lee-CV/blob/main/Bokyung_Lee_CV.pdf"> CV </a> / <a href="https://www.linkedin.com/in/bokyung-lee-83156257/"> linked In </a> / <a href="https://vimeo.com/lydiabklee"> vimeo </a>
        </div>

        {{ end }}
        <div class="row justify-content-center">
            <div class="col-md-6">
                {{ if $data.homepage.about.enable }} {{ with $data.homepage.about }}
                <div>
                    {{with .title}} {{ end }}
                    <div class="banner-text">{{.content | markdownify }}</div>
                    <div class="banner-text-keyword">{{.keyword | markdownify }}</div>
                </div>
                {{ end }} {{ end }}
            </div>
            <div class="col-md-4 linear-news">
                <div>
                    {{ range first 8 (where .Site.RegularPages "Section" "==" "news") }}
                    <div class="row linear-news-bottom ">
                        <div class="col-1 linear-news-icon ">
                            <i class={{.Params.icon}}></i>
                        </div>
                        <div class="col-10 ">
                            [{{ .PublishDate.Format "2006-01-06" }}] <strong><a href= "{{ .Permalink}}">{{ .Params.description }}</a></strong>
                        </div>
                    </div>
                    {{ end }}

                </div>
                <div>
                    <div class="row linear-news-bottom ">
                        <div class="col-1 linear-news-icon ">
                            <i class={{.Params.icon}}></i>
                        </div>
                        <div class="col-10 ">
                            <div class="social-icon-list-bold"><a href="www.google.com"> More News </a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-md-2 ">
                {{ if $data.homepage.about.enable }} {{ with $data.homepage.about }}
                <img src="{{ .image | absURL }}" class="bokyung-img" alt="" style="width:100%" /> {{ end }} {{ end }}

            </div>
        </div>
    </div>
    </div>

</section>
{{ end }}
<!-- /banner -->



<!-- projects -->
{{ if $data.homepage.project.enable }}
<section class="section pb-0" id="project">
    <div class="container">
        <div class="row">
            <div class="col-6 mb-3 vertical-center">
                <div class="cv-title-large">LATEST PROJECTS</div>
            </div>
            <div class="col-6 mb-3 float-right ">
                <div class="cv-title float-right  ">
                    <a href="{{ `projects` | absLangURL }}" class="btn btn-primary">{{ i18n "more_projects" }}</a>
                </div>
            </div>
            {{ range first 3 (where .Site.RegularPages "Section" "==" "projects") }}
            <div class="col-lg-4 col-sm-6 mb-4">{{ .Render "project" }}</div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
<!-- /projects -->

<div class="margin-top-25"></div>

<!-- education -->
{{ if $data.homepage.education.enable }} {{ with $data.homepage.education }}
<section class="section pb-0" id="education">
    <div class="container cv-section-padding">
        <div class="row">
            <div class="col-lg-2">
                <div class="cv-title">{{ .title | markdownify }}</div>
            </div>
            <div class="col-lg-10">
                {{ range .education_item }}
                <div class="row cv-lineBox">
                    <div class="col-lg-9">
                        <div class="cv-text-bold">{{ .name }}</div>
                        <div class="cv-text">{{ .academy }}</div>
                    </div>
                    <div class="col-lg-3">
                        <div class="cv-text ">{{ .duration }}</div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>

    </div>
</section>
{{ end }} {{ end }}
<!-- /education -->

<!-- Work -->
{{ if $data.homepage.work.enable }} {{ with $data.homepage.work }}
<section class="section pb-0" id="work">
    <div class="container cv-section-padding">
        <div class="row">
            <div class="col-lg-2">
                <div class="cv-title">{{ .title | markdownify }}</div>
            </div>
            <div class="col-lg-10">
                {{ range .work_item }}
                <div class="row cv-lineBox">
                    <div class="col-lg-9">
                        <div class="cv-text-bold">{{ .name }}</div>
                        <div class="cv-text">{{ .content | markdownify }}</div>
                    </div>
                    <div class="col-lg-3">
                        <div class="cv-text">{{ .duration }}</div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }} {{ end }}


<!-- AWARD -->
{{ if $data.homepage.award.enable }} {{ with $data.homepage.award }}
<section class="section pb-0" id="work">
    <div class="container cv-section-padding">
        <div class="row">
            <div class="col-lg-2">
                <div class="cv-title">{{ .title | markdownify }}</div>
            </div>
            <div class="col-lg-10">
                {{ range .award_item }}
                <div class="row cv-lineBox">
                    <div class="col-lg-9">
                        <div class="cv-text-bold">{{ .name }}</div>
                        <div class="cv-text">{{ .content | markdownify }}</div>
                    </div>
                    <div class="col-lg-3">
                        <div class="cv-text">{{ .duration }}</div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }} {{ end }}

<!-- PATENT -->
{{ if $data.homepage.patent.enable }} {{ with $data.homepage.patent }}
<section class="section pb-0" id="patent">
    <div class="container cv-section-padding">
        <div class="row">
            <div class="col-lg-2">
                <div class="cv-title">{{ .title | markdownify }}</div>
            </div>
            <div class="col-lg-10">
                {{ range .patent_item }}
                <div class="row cv-lineBox">
                    <div class="col-lg-9">
                        <div class="cv-text-bold">{{ .name }}</div>
                        <div class="cv-text">{{ .content | markdownify }}</div>
                    </div>
                    <div class="col-lg-3">
                        <div class="cv-text">{{ .duration }}</div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }} {{ end }}

<!-- PATENT -->
{{ if $data.homepage.projectExperience.enable }} {{ with $data.homepage.projectExperience }}
<section class="section pb-0" id="project">
    <div class="container cv-section-padding">
        <div class="row">
            <div class="col-lg-2">
                <div class="cv-title">{{ .title | markdownify }}</div>
            </div>
            <div class="col-lg-10">
                {{ range .projectExperience_item }}
                <div class="row cv-lineBox">
                    <div class="col-lg-9">
                        <div class="cv-text-bold">{{ .name }}</div>
                        <div class="cv-text">{{ .content | markdownify }}</div>
                    </div>
                    <div class="col-lg-3">
                        <div class="cv-text">{{ .duration }}</div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }} {{ end }}

<!-- ACADEMIC SERVICE -->
{{ if $data.homepage.academicService.enable }} {{ with $data.homepage.academicService }}
<section class="section pb-0" id="project">
    <div class="container cv-section-padding">
        <div class="row">
            <div class="col-lg-2">
                <div class="cv-title">{{ .title | markdownify }}</div>
            </div>
            <div class="col-lg-10">
                {{ range .academicService_item }}
                <div class="row cv-lineBox">
                    <div class="col-lg-9">
                        <div class="cv-text-bold">{{ .name }}</div>
                        <div class="cv-text">{{ .content | markdownify }}</div>
                    </div>
                    <div class="col-lg-3">
                        <div class="cv-text">{{ .duration }}</div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }} {{ end }}


<!-- Invited Talk -->
{{ if $data.homepage.invitedTalk.enable }} {{ with $data.homepage.invitedTalk }}
<section class="section pb-0" id="project">
    <div class="container cv-section-padding">
        <div class="row">
            <div class="col-lg-2">
                <div class="cv-title">{{ .title | markdownify }}</div>
            </div>
            <div class="col-lg-10">
                {{ range .invitedTalk_item }}
                <div class="row cv-lineBox">
                    <div class="col-lg-9">
                        <div class="cv-text-bold">{{ .name }}</div>
                        <div class="cv-text">{{ .content | markdownify }}</div>
                    </div>
                    <div class="col-lg-3">
                        <div class="cv-text">{{ .duration }}</div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }} {{ end }}


<!-- Teaching Experience -->
{{ if $data.homepage.teachingExperience.enable }} {{ with $data.homepage.teachingExperience }}
<section class="section pb-0" id="project">
    <div class="container cv-section-padding">
        <div class="row">
            <div class="col-lg-2">
                <div class="cv-title">{{ .title | markdownify }}</div>
            </div>
            <div class="col-lg-10">
                {{ range .teachingExperience_item }}
                <div class="row cv-lineBox">
                    <div class="col-lg-9">
                        <div class="cv-text-bold">{{ .name }}</div>
                        <div class="cv-text">{{ .content | markdownify }}</div>
                    </div>
                    <div class="col-lg-3">
                        <div class="cv-text">{{ .duration }}</div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }} {{ end }}


<!-- Leadership Activities -->
{{ if $data.homepage.leadership.enable }} {{ with $data.homepage.leadership }}
<section class="section pb-0" id="project">
    <div class="container cv-section-padding">
        <div class="row">
            <div class="col-lg-2">
                <div class="cv-title">{{ .title | markdownify }}</div>
            </div>
            <div class="col-lg-10">
                {{ range .leadership_item }}
                <div class="row cv-lineBox">
                    <div class="col-lg-9">
                        <div class="cv-text-bold">{{ .name }}</div>
                        <div class="cv-text">{{ .content | markdownify }}</div>
                    </div>
                    <div class="col-lg-3">
                        <div class="cv-text">{{ .duration }}</div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }} {{ end }}


<!-- Publication  -->
{{ if $data.homepage.publication.enable }}
<section class="section pb-0" id="publication">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="cv-title">PUBLICATION</div>
            </div>
            <div class="col-lg-10">
                {{ range first 3 (where .Site.RegularPages "Section" "==" "publications" )}}
                <div>{{ .Render "publication" }}</div>
                {{ end }}
                <div class="text-left">
                    <a href="{{ `publications` | absLangURL }}" class="btn btn-primary-allPublications ">{{ i18n "all_publications"}}</a>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}



<!-- talks -->
{{ if $data.homepage.talk.enable }}
<section class="section pb-0" id="talk">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h2>{{ $data.homepage.talk.title | markdownify }}</h2>
            </div>
            {{ range first 4 (where .Site.RegularPages "Section" "==" "talks") }}
            <div class="col-sm-6 mb-4">{{ .Render "talk" }}</div>
            {{ end }}
            <div class="col-12 text-center mt-5">
                <a href="{{ `talks` | absLangURL }}" class="btn btn-primary btn-style">{{ i18n "all_talks" }}</a
        >
      </div>
    </div>
  </div>
</section>
{{ end }}

<!-- blog -->
{{ if $data.homepage.blog.enable }}
<section class="section pb-0" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5">
        <h2>{{ $data.homepage.blog.title | markdownify }}</h2>
      </div>
      {{ range first 4 (where .Site.RegularPages "Section" "==" "blogs") }}
      <div class="col-sm-6 mb-4">{{ .Render "blog" }}</div>
      {{ end }}
      <div class="col-12 text-center mt-5">
        <a href="{{`blogs` | absLangURL }}" class="btn btn-primary btn-style"
          >{{ i18n "all_blog"}}</a
        >
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /blog -->

<div class="margin-top-25"></div>


<!-- contact -->
{{ if or $data.homepage.contact_form.enable $data.homepage.contact_info.enable}}
<section class="section pb-0" id="contact">
  <div class="container">
    <div class="row">
      {{ if $data.homepage.contact_form.enable }} {{ with
      $data.homepage.contact_form }}
      <div class="col-lg-6 mb-5 mb-lg-0">
        <h2 class="mb-4 mb-lg-5">{{ .title | markdownify }}</h2>
        <form action="{{ .contact_form_action }}" method="POST">
          <div class="form-group mb-4">
            <label for="name">{{ .name_label }}</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              placeholder="{{ .name_label }}"
            />
          </div>
          <div class="form-group mb-4">
            <label for="email">{{ .email_label }}</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="{{ .email_label }}"
            />
          </div>
          <div class="form-group mb-4">
            <label for="message">{{ .textarea_label }}</label>
            <textarea
              class="form-control"
              id="message"
              name="message"
              placeholder="{{ .textarea_label }}"
            ></textarea>
          </div>
          <button class="btn btn-primary" type="submit" value="send">
            {{ .button_label }}
          </button>
        </form>
      </div>
      {{ end }} {{ end }} {{ if $data.homepage.contact_info.enable }} {{ with
      $data.homepage.contact_info }}
      <div class="col-lg-5 offset-lg-1">
        <h2 class="mb-4 mb-lg-5">{{ .title }}</h2>
        <p class="mb-4 mb-lg-5">{{ .content | markdownify }}</p>
        <ul class="list-unstyled">
          {{ range .contact_item }}
          <li class="d-flex mb-4">
            <i class="{{ .icon }} h4 text-primary mr-3 mt-1"></i>
            <p class="mb-0">{{ .id }}</p>
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }} {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- /contact -->

{{ end }}
