{{ define "main" }}

<section>
  <div class="container">
    <div class="row row-fix">
    <div class="single-page-title">{{.Title}}</div>
    </div>

    <!--SCI Journals / Top Rank Conferences-->
    <div class="publication-type-title"><strong> SCI Journals / Top-rank Conferences </strong></div>
    <div class="row">
      {{ $paginator := .Paginate .Data.Pages }}
      {{ range $paginator.Pages.ByDate.Reverse }}
      <div class="container">
        <div class="col-md-12 col-sm-6 mb-3">
          {{ .Render "publication_sci" }}
        </div>
      </div>
        
      {{ end }}
      <div class="col-12 mt-5">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>

    <!--International Conferences-->
    <div class="container publication-type-title"><strong> International Conferences </strong></div>
    <div class="row">
      {{ $paginator := .Paginate .Data.Pages }}
      {{ range $paginator.Pages.ByDate.Reverse }}
      <div class="container">
        <div class="col-md-12 col-sm-6 mb-3">
          {{ .Render "publication_int" }}
        </div>
      </div>
        
      {{ end }}
      <div class="col-12 mt-5">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>


    <!--Domestic Conferences-->
    <div class="container publication-type-title"><strong> Domestic Conferences </strong></div>
    <div class="row">
      {{ $paginator := .Paginate .Data.Pages }}
      {{ range $paginator.Pages.ByDate.Reverse }}
      <div class="container">
        <div class="col-md-12 col-sm-6 mb-3">
          {{ .Render "publication_domestic" }}
        </div>
      </div>
        
      {{ end }}
      <div class="col-12 mt-5">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>

  </div>
</section>

{{ end }}
