{{ define "main" }}

<section>
  <div class="container">
    <div class="row row-fix">
    <div class="single-page-title">{{.Title}}</div>
    </div>

    <!--SCI Journals / Top Rank Conferences-->
    <div class="publication-type-title"><strong> SCI Journals / Top-rank Conferences </strong></div>
    <div class="row">
      {{ $paginator := .Paginate .Data.Pages }}
      {{ range $paginator.Pages.ByDate.Reverse }}
      <div class="container">
        <div class="col-md-12 col-sm-6 mb-3">
          {{ .Render "publication_all" }}
        </div>
      </div>     
      {{ end }}
      <div class="col-12 mt-5">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>

</section>

{{ end }}
